.weather-data-header {
	width: 100%;
}

.weather-data-header-locate {
	display: flex;
}

.weather-data-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.general-weather div {
	display: flex;
	margin: 1rem 0;
}

.temperature p {
	font-size: 48px;
}

.conditions p {
	font-size: 24px;
}

.GradesC p {
	margin-bottom: 0;
}
